*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	
	font-family: 'Roboto', sans-serif;
}
h1{
	text-align:center;
}
h4{
	padding-top:20px;
	font-size:20px;
	font-weight:regular;
	color:#313841;
	margin-bottom:74px;
	text-align:center;
}